<%- include header.ejs %>
<div class="subnav">
    <h2>Opportunities</h2>
    <hr>
</div>
<div class="btn-group btn-group-justified">
  <div class="btn-group">
    <a  class="btn btn-success" href="/submit-opportunity">Create Opportunity</a>
  </div>
  <div class="btn-group">
  </div>
  <div class="btn-group">
    <a  class="btn btn-success" href="/export" >Export Opportunities</a>
  </div>
</div>
<div style="margin-top: 1em;" class="full_width">
<div role="grid" class="dataTables_wrapper" id="example_wrapper">
    <table cellpadding="0" cellspacing="0" border="0" class="display dataTable" id="datatable-opportunities">
    <thead id="colls">
        <tr>
            <th width="20px;">ID</th>
            <th >Name</th>
            <th >Description</th>
            <th >Owner</th>
            <th >Created Date</th>
        </tr>
    </thead>    
    <thead class="searchfilter">    
        <tr >
       
        <th class="ui-state-default">
            <input type="text small" id="id2" name="id" class="search_init input-medium " />
        </th>
        <th class="ui-state-default">
            <input type="text" id="id3" name="opportunityname" class="search_init input-medium " />
        </th>
        <th class="ui-state-default">
            <input type="text" id="id3" name="description" class="search_init input-medium " />
        </th>       
         <th class="ui-state-default">
            <input type="text" id="id3" name="markets" class="search_init input-medium " />
        </th>
         <th class="ui-state-default">
            <input type="text" id="id3" name="created_date" class="search_init input-medium " />
        </th>
       
    </tr>
    </thead>
    <tbody>     
    </tbody>
</table>
</div>
</div>

<%- include footer.ejs %>
<script type="text/javascript" src="/js/datatable_bootstrap.js"></script>

<script type="text/javascript" src="/js/explore-opportunity.js"></script>

