<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title><%- title %></title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/datepicker.css" rel="stylesheet">
    <link href="css/jquery.dataTables.css" rel="stylesheet">
    <link rel="stylesheet" href="/ionRangeSlider/css/normalize.min.css" />
    <link rel="stylesheet" href="/ionRangeSlider/css/ion.rangeSlider.css" />
    <link rel="stylesheet" href="/ionRangeSlider/css/ion.rangeSlider.skinFlat.css" />
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/js/ie-emulation-modes-warning.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>

  </head>

  <body>

    <div class="cs-wrapper">

      <header id="header">
        <div class="container global-header">
          
          <div role="navigation" class="navbar navbar-inverse navbar-static-top">
              
              <div class="navbar-header">
                <a href="/" class="navbar-brand logo-content">PPaaS</a>
              </div>

              <div class="navbar-collapse collapse pull-right">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="/">Home</a></li>
                  <li><a href="/submit-opportunity">Submit Opportunity</a></li>
                  <li><a href="/explore-opportunity">Explore Opportunities</a></li>
                </ul>
              </div>
              
          </div>
        </div>
      </header>
      
      <div class="container">
        <div class="row primary">
