<%- include header.ejs %>

  <div class="submit-opportunity" id="submit-form">

      <form role="form" class="form-horizontal form-opportunity" id="submit-opportunity">
        <h2>Submit Opportunity</h2>
        <p class="top-submit-btn">
          <span class="col-lg-9 heading-txt gutter">An Opportunity identifies a problem that would provide measurable customer or company value if solved.</span>
          <span class="col-lg-3 gutter text-right">
            <button class="btn btn-primary btn-sm space-right" type="reset" value="reset">cancel</button>
            <button class="btn btn-primary btn-sm space-left" type="submit" value="Submit">Save</button>
          </span>
        </p>

        <div class="row">
          <fieldset class="col-lg-8 gutter">

            <div class="form-group">
              <label class="col-lg-2 control-label gutter-left" for="opName">
                <span>Name</span><sup class="required-indicator">&lowast;</sup>
              </label>
              <div class="col-lg-10 gutter-right">
                <input type="text" title="Short, description name for the opportunity" id="opName" name="opportunityname" maxlength="60" class="form-control" required />
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-2 control-label gutter-left" for="deCrip">
                <span>Description</span><sup class="required-indicator">&lowast;</sup>
              </label>
              <div class="col-lg-10 gutter-right">
                <textarea title="A sentence or two describing in a little detail" id="Decrip" class="form-control"  name="description" maxlength="500" rows="3" required></textarea>
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-2 control-label gutter-left" for="marKets">
                <span>Markets</span><sup class="required-indicator">&lowast;</sup>
              </label>
              
              <div class="col-lg-10 gutter-right">
                <div class="row">
                  <div class="col-lg-5 gutter-left">
                    <select multiple id="markets" class="form-control multiple" >
                      <option value="Global">Global</option>
                      <option value="USA">USA</option>
                      <option value="Afghanistan">Afghanistan</option>
                      <option value="Albania">Albania</option>
                      <option value="Algeria">Algeria</option>
                      <option value="Andorra">Andorra</option>
                      <option value="Angola">Angola</option>
                      <option value="Antigua &amp; Deps">Antigua &amp; Deps</option>
                      <option value="Argentina">Argentina</option>
                      <option value="Armenia">Armenia</option>
                      <option value="Australia">Australia</option>
                      <option value="Austria">Austria</option>
                      <option value="Azerbaijan">Azerbaijan</option>
                      <option value="Bahamas">Bahamas</option>
                      <option value="Bahrain">Bahrain</option>
                      <option value="Bangladesh">Bangladesh</option>
                      <option value="Barbados">Barbados</option>
                      <option value="Belarus">Belarus</option>
                      <option value="Belgium">Belgium</option>
                      <option value="Belize">Belize</option>
                      <option value="Benin">Benin</option>
                      <option value="Bhutan">Bhutan</option>
                      <option value="Bolivia">Bolivia</option>
                      <option value="Bosnia Herzegovina">Bosnia Herzegovina</option>
                      <option value="Botswana">Botswana</option>
                      <option value="Brazil">Brazil</option>
                      <option value="Brunei">Brunei</option>
                      <option value="Bulgaria">Bulgaria</option>
                      <option value="Burkina">Burkina</option>
                      <option value="Burundi">Burundi</option>
                      <option value="Cambodia">Cambodia</option>
                      <option value="Cameroon">Cameroon</option>
                      <option value="Canada">Canada</option>
                      <option value="Cape Verde">Cape Verde</option>
                      <option value="Central African Rep">Central African Rep</option>
                      <option value="Chad">Chad</option>
                      <option value="Chile">Chile</option>
                      <option value="China">China</option>
                      <option value="Colombia">Colombia</option>
                      <option value="Comoros">Comoros</option>
                      <option value="Congo">Congo</option>
                      <option value="Congo {Democratic Rep}">Congo {Democratic Rep}</option>
                      <option value="Costa Rica">Costa Rica</option>
                      <option value="Croatia">Croatia</option>
                      <option value="Cuba">Cuba</option>
                      <option value="Cyprus">Cyprus</option>
                      <option value="Czech Republic">Czech Republic</option>
                      <option value="Denmark">Denmark</option>
                      <option value="Djibouti">Djibouti</option>
                      <option value="Dominica">Dominica</option>
                      <option value="Dominican Republic">Dominican Republic</option>
                      <option value="East Timor">East Timor</option>
                      <option value="Ecuador">Ecuador</option>
                      <option value="Egypt">Egypt</option>
                      <option value="El Salvador">El Salvador</option>
                      <option value="Equatorial Guinea">Equatorial Guinea</option>
                      <option value="Eritrea">Eritrea</option>
                      <option value="Estonia">Estonia</option>
                      <option value="Ethiopia">Ethiopia</option>
                      <option value="Fiji">Fiji</option>
                      <option value="Finland">Finland</option>
                      <option value="France">France</option>
                      <option value="Gabon">Gabon</option>
                      <option value="Gambia">Gambia</option>
                      <option value="Georgia">Georgia</option>
                      <option value="Germany">Germany</option>
                      <option value="Ghana">Ghana</option>
                      <option value="Greece">Greece</option>
                      <option value="Grenada">Grenada</option>
                      <option value="Guatemala">Guatemala</option>
                      <option value="Guinea">Guinea</option>
                      <option value="Guinea-Bissau">Guinea-Bissau</option>
                      <option value="Guyana">Guyana</option>
                      <option value="Haiti">Haiti</option>
                      <option value="Honduras">Honduras</option>
                      <option value="Hungary">Hungary</option>
                      <option value="Iceland">Iceland</option>
                      <option value="India">India</option>
                      <option value="Indonesia">Indonesia</option>
                      <option value="Iran">Iran</option>
                      <option value="Iraq">Iraq</option>
                      <option value="Ireland {Republic}">Ireland {Republic}</option>
                      <option value="Israel">Israel</option>
                      <option value="Italy">Italy</option>
                      <option value="Ivory Coast">Ivory Coast</option>
                      <option value="Jamaica">Jamaica</option>
                      <option value="Japan">Japan</option>
                      <option value="Jordan">Jordan</option>
                      <option value="Kazakhstan">Kazakhstan</option>
                      <option value="Kenya">Kenya</option>
                      <option value="Kiribati">Kiribati</option>
                      <option value="Korea North">Korea North</option>
                      <option value="Korea South">Korea South</option>
                      <option value="Kosovo">Kosovo</option>
                      <option value="Kuwait">Kuwait</option>
                      <option value="Kyrgyzstan">Kyrgyzstan</option>
                      <option value="Laos">Laos</option>
                      <option value="Latvia">Latvia</option>
                      <option value="Lebanon">Lebanon</option>
                      <option value="Lesotho">Lesotho</option>
                      <option value="Liberia">Liberia</option>
                      <option value="Libya">Libya</option>
                      <option value="Liechtenstein">Liechtenstein</option>
                      <option value="Lithuania">Lithuania</option>
                      <option value="Luxembourg">Luxembourg</option>
                      <option value="Macedonia">Macedonia</option>
                      <option value="Madagascar">Madagascar</option>
                      <option value="Malawi">Malawi</option>
                      <option value="Malaysia">Malaysia</option>
                      <option value="Maldives">Maldives</option>
                      <option value="Mali">Mali</option>
                      <option value="Malta">Malta</option>
                      <option value="Marshall Islands">Marshall Islands</option>
                      <option value="Mauritania">Mauritania</option>
                      <option value="Mauritius">Mauritius</option>
                      <option value="Mexico">Mexico</option>
                      <option value="Micronesia">Micronesia</option>
                      <option value="Moldova">Moldova</option>
                      <option value="Monaco">Monaco</option>
                      <option value="Mongolia">Mongolia</option>
                      <option value="Montenegro">Montenegro</option>
                      <option value="Morocco">Morocco</option>
                      <option value="Mozambique">Mozambique</option>
                      <option value="Myanmar, {Burma}">Myanmar, {Burma}</option>
                      <option value="Namibia">Namibia</option>
                      <option value="Nauru">Nauru</option>
                      <option value="Nepal">Nepal</option>
                      <option value="Netherlands">Netherlands</option>
                      <option value="New Zealand">New Zealand</option>
                      <option value="Nicaragua">Nicaragua</option>
                      <option value="Niger">Niger</option>
                      <option value="Nigeria">Nigeria</option>
                      <option value="Norway">Norway</option>
                      <option value="Oman">Oman</option>
                      <option value="Pakistan">Pakistan</option>
                      <option value="Palau">Palau</option>
                      <option value="Panama">Panama</option>
                      <option value="Papua New Guinea">Papua New Guinea</option>
                      <option value="Paraguay">Paraguay</option>
                      <option value="Peru">Peru</option>
                      <option value="Philippines">Philippines</option>
                      <option value="Poland">Poland</option>
                      <option value="Portugal">Portugal</option>
                      <option value="Qatar">Qatar</option>
                      <option value="Romania">Romania</option>
                      <option value="Russian Federation">Russian Federation</option>
                      <option value="Rwanda">Rwanda</option>
                      <option value="St Kitts &amp; Nevis">St Kitts &amp; Nevis</option>
                      <option value="St Lucia">St Lucia</option>
                      <option value="Saint Vincent &amp; the Grenadines">Saint Vincent &amp; the Grenadines</option>
                      <option value="Samoa">Samoa</option>
                      <option value="San Marino">San Marino</option>
                      <option value="Sao Tome &amp; Principe">Sao Tome &amp; Principe</option>
                      <option value="Saudi Arabia">Saudi Arabia</option>
                      <option value="Senegal">Senegal</option>
                      <option value="Serbia">Serbia</option>
                      <option value="Seychelles">Seychelles</option>
                      <option value="Sierra Leone">Sierra Leone</option>
                      <option value="Singapore">Singapore</option>
                      <option value="Slovakia">Slovakia</option>
                      <option value="Slovenia">Slovenia</option>
                      <option value="Solomon Islands">Solomon Islands</option>
                      <option value="Somalia">Somalia</option>
                      <option value="South Africa">South Africa</option>
                      <option value="South Sudan">South Sudan</option>
                      <option value="Spain">Spain</option>
                      <option value="Sri Lanka">Sri Lanka</option>
                      <option value="Sudan">Sudan</option>
                      <option value="Suriname">Suriname</option>
                      <option value="Swaziland">Swaziland</option>
                      <option value="Sweden">Sweden</option>
                      <option value="Switzerland">Switzerland</option>
                      <option value="Syria">Syria</option>
                      <option value="Taiwan">Taiwan</option>
                      <option value="Tajikistan">Tajikistan</option>
                      <option value="Tanzania">Tanzania</option>
                      <option value="Thailand">Thailand</option>
                      <option value="Togo">Togo</option>
                      <option value="Tonga">Tonga</option>
                      <option value="Trinidad &amp; Tobago">Trinidad &amp; Tobago</option>
                      <option value="Tunisia">Tunisia</option>
                      <option value="Turkey">Turkey</option>
                      <option value="Turkmenistan">Turkmenistan</option>
                      <option value="Tuvalu">Tuvalu</option>
                      <option value="Uganda">Uganda</option>
                      <option value="Ukraine">Ukraine</option>
                      <option value="United Arab Emirates">United Arab Emirates</option>
                      <option value="United Kingdom">United Kingdom</option>
                      <option value="United States">United States</option>
                      <option value="Uruguay">Uruguay</option>
                      <option value="Uzbekistan">Uzbekistan</option>
                      <option value="Vanuatu">Vanuatu</option>
                      <option value="Vatican City">Vatican City</option>
                      <option value="Venezuela">Venezuela</option>
                      <option value="Vietnam">Vietnam</option>
                      <option value="Yemen">Yemen</option>
                      <option value="Zambia">Zambia</option>
                      <option value="Zimbabwe">Zimbabwe</option>
                    </select>
                  </div>
                  <div class="col-lg-2 add-remove text-center multiple">
                    <button type="button" class="btn btn-primary btn-sm btn-block" id="add-markets">Add ></button>
                    <button type="button" class="btn btn-danger btn-sm btn-block" id="remove-markets"> Remove</button>
                  </div>
                  <div class="col-lg-5 gutter-right">
                    <select multiple id="marketsClones" class="form-control multiple" name="markets" required>
                    </select>
                  </div>
                </div>
              </div>

            </div>
            <div class="form-group inline">
              <label class="col-lg-2 control-label gutter-left" ><span>Capabilities</span></label>
              <div class="col-lg-10 capabilities-lists gutter">
                  <div id="capabilities-wrapper">
                  <div class="row capabilities " role="form" >
                    <div class="form-group col-lg-6">
                      <input type="text" class="form-control" id="exampleInputEmail2" name="capabilities_marketcountry" placeholder="Market/Country" url required>
                    </div>
                    
                    <div class="form-group col-lg-6">
                      <select multiple  name="capabilities_area" class="form-control multiple" required>
                        <option value="Commerce">Commerce</option>
                        <option value="Compliance">Compliance</option>
                        <option value="Credit">Credit</option>
                        <option value="Customer">Customer</option>
                        <option value="Customer Support">Customer Support</option>
                        <option value="Device">Device</option>
                        <option value="Holding">Holding</option>
                        <option value="Infrastructure">Infrastructure</option>
                        <option value="Integration">Integration</option>
                        <option value="Marketing">Marketing</option>
                        <option value="Payment">Payment</option>
                        <option value="Products">Products</option>
                        <option value="Risk">Risk</option>
                        <option value="Wallet">Wallet</option>
                      </select>
                    </div>
                   
                    <button type="button" class="btn btn-danger remove-capabilities pull-right"><span class="glyphicon glyphicon-trash"></span> Remove</button>

                    <hr/>
                  </div>

                  </div>
                <div class="add-capabilities">                 
                  <a class="link" href="#" id="add-capabilities">Add Capabilities</a>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label gutter-left" for="cusName">
                <span>Customer Name</span><sup class="required-indicator">&lowast;</sup>
              </label>
              <div class="col-lg-5 gutter-right">
                <input type="text" title="Enter a Customer Name" id="cusName" name="customer"  maxlength="50" class="form-control" required />
              </div>
              <div class="col-lg-5 gutter-right">
                Optional - Primary customer or partner associated with opportunity, if any
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-2 control-label gutter-left" for="deadLine">
                <span>Deadline</span><sup class="required-indicator">&lowast;</sup>
              </label>
              <div class="col-lg-4 gutter-right">
                  <div class="input-append date input-group" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
    						    <input id="deadLine" size="16" type="text" name="deadline" value="" class="form-control" required>
    						    <span class="input-group-addon add-on"><i class="glyphicon glyphicon-calendar"></i></span>
    						  </div>
              </div>
            </div>

            <div class="form-group inline">
              <label class="col-lg-2 control-label gutter-left" ><span>References</span></label>
              <div class="col-lg-10 references-link" >
                  <div id="references-link">
                  <div class="form-inline references" role="form" >
                    <div class="form-group">
                      <input type="text" class="form-control" name="reference_url" id="exampleInputEmail2" placeholder="URL" url>
                    </div>
                    
                    <div class="form-group">
                      <input type="text" class="form-control" id="exampleInputPassword2" name="reference_title" placeholder="Link Name">
                    </div>
                   
                    <button type="button" class="btn btn-danger remove-reference"><span class="glyphicon glyphicon-trash"></span> Remove</button>
                  </div>
                  </div>
                <div class="add-references">                 
                  <a class="link" href="#" id="add-reference">Add References</a>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-2 notations">Use cases</div>
              <div class="col-lg-10 gutter-right">
              <div id="usecase-list">
              <div class="usecase">
                <div class="form-group">
                  <label class="col-lg-2 control-label gutter-left" for="perSon">
                    <span>Person</span><sup class="required-indicator">&lowast;</sup>
                  </label>

                  <div class="col-lg-10 gutter-right">
                    <input type="text" id="perSon" name="usecase_person" class="form-control" required />
                     
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-2 control-label gutter-left" for="doesSomething">
                    <span>Does something</span><sup class="required-indicator">&lowast;</sup>
                  </label>

                  <div class="col-lg-10 gutter-right">
                    <input type="text" title="Describe what person does" name="usecase_doessomething" id="doesSomething" maxlength="200" class="form-control" required />
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-2 control-label gutter-left" for="toAchieve">
                    <span>To achieve</span><sup class="required-indicator">&lowast;</sup>
                  </label>

                  <div class="col-lg-8 gutter-right">
                    <input type="text" title="Describe value obtained" id="toAchieve" name="usecase_toachieve" maxlength="200" class="form-control" required />
                  </div>
                  <div class="col-lg-2 remove-achive">
                    <a class="link remove-usecase" href="" >Remove</a>
                  </div>
 
                </div>
                </div>
                </div>
                <div class="form-group">
                  <a class="link" href="#" id="add-usecase">Add Another</a>
                </div>

              </div>

            </div>

            <div class="row">
              <div class="col-lg-2 notations">Value</div>
              <div class="col-lg-10 gutter-right">
                <div style="position: relative;">
                    <input type="text" class="range" value="Low" name="roi_range" />
                </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label gutter-left" for="rOi">
                    <span>ROI</span><sup class="required-indicator">&lowast;</sup>
                  </label>

                  <div class="col-lg-10 gutter-right">
                    <textarea title="Describe the expected return on investment" id="rOi" name="roi_value" class="form-control" rows="3" required></textarea>
                  </div>
                </div>
                <div style="position: relative;">
                    <input type="text" class="range" name="tvp_range" value="Low" />
                </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label gutter-left" for="tPv">
                    <span>TPV</span><sup class="required-indicator">&lowast;</sup>
                  </label>

                  <div class="col-lg-10 gutter-right">
                    <textarea title="Justify the expected contribution to total payment volume" id="tPv" name="tvp_value" class="form-control" rows="3" required></textarea>
                  </div>
                </div>
                <div style="position: relative;">
                    <input type="text" class="range" name="enps_range" value="Low" />
                </div>
                 <div class="form-group">
                  <label class="col-lg-2 control-label gutter-left" for="eNps">
                    <span>eNPS</span><sup class="required-indicator">&lowast;</sup>
                  </label>

                  <div class="col-lg-10 gutter-right">
                    <textarea title="Describe the expected contribution to customer satisfaction" name="enps_value" id="eNps" class="form-control" rows="3" required></textarea>
                  </div>
                </div>
                <div style="position: relative;">
                    <input type="text" class="range" value="Low" name="strategy_range" />
                </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label gutter-left" for="straTegy">
                    <span>Strategy</span><sup class="required-indicator">&lowast;</sup>
                  </label>

                  <div class="col-lg-10 gutter-right">
                    <textarea title="Describe how it contributes to strategic priorities" name="strategy_value" id="straTegy" class="form-control" rows="3" required></textarea>
                  </div>
                </div>

              </div>
            </div>

             <div class="form-group">
              <label class="col-lg-2 control-label gutter-left" for="owNer">
                <span>Owner</span><sup class="required-indicator">&lowast;</sup>
              </label>
              <div class="col-lg-4 gutter-right">
                <input type="text" title="Enter Owner Name" id="owNer" name="owner" maxlength="50" class="form-control" required />
              </div>
            </div>

          </fieldset>
        </div>

        <p class="bottom-submit-btn text-right">
            <button class="btn btn-primary btn-sm space-right" type="reset" value="reset">cancel</button>
            <button class="btn btn-primary btn-sm space-left" type="submit" value="Submit">Save</button>
        </p>
      
      
      </form>
  </div>
  <div id="success-response" class="success-response hide">
    
    <h2 class="text-center">That's all, thank you!</h2>
    <p class="text-center">We really appreciate your time and doing business with you.</p>

  </div>
<%- include footer.ejs %>
